<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>QC DIGITAL</title>

    <link rel="shortcut icon"href="#" th:href="@{../assets/images/favicon.png}" />
    <link rel="stylesheet" href="#" th:href="@{../assets/css/libs.min.css}" />
    <link rel="stylesheet" href="#" th:href="@{../assets/css/socialv.css?v=4.0.0}" />
    <link
      rel="stylesheet"
      href="#" th:href="@{../assets/vendor/@fortawesome/fontawesome-free/css/all.min.css}"
    />
    <link
      rel="stylesheet"
      href="#" th:href="@{../assets/vendor/remixicon/fonts/remixicon.css}"
    />
    <link
      rel="stylesheet"
      href="#" th:href="@{../assets/vendor/vanillajs-datepicker/dist/css/datepicker.min.css}"
    />
    <link
      rel="stylesheet"
      href="#" th:href="@{../assets/vendor/font-awesome-line-awesome/css/all.min.css}"
    />
    <link
      rel="stylesheet"
     href="#" th:href="@{../assets/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css}"
    />


</head>
<body>

<!-- loader Start -->
    <div id="loading">
      <div id="loading-center"></div>
    </div>
<!-- loader END -->





<!-- Wrapper Start -->
    <div class="wrapper">

		<!-- nav-left  -->
		<div class="iq-sidebar sidebar-default" th:include ="~{/dashboard/nav-left :: nav-left}"></div>
	
		<!-- nav-top  -->
		<div class="iq-top-navbar" th:include ="~{/dashboard/nav-top :: nav-top}"></div>

		<!-- social-nav-right  -->
		<div class="right-sidebar-mini right-sidebar" th:include ="~{/dashboard/social-nav-right :: social-nav-right}"></div>      

		<!-- social-content  -->
		<div class="content-page" th:include ="~{/dashboard/social-content :: social-content}"></div> 
		
		<!-- nav-bottom  -->
		<div class="iq-footer bg-white" th:include ="~{/dashboard/nav-bottom :: nav-bottom}"></div> 		
      
    </div>
    <!-- Wrapper End-->

    <!-- Backend Bundle JavaScript -->
    <script th:src="@{../assets/js/libs.min.js}"></script>
    <!-- slider JavaScript -->
    <script th:src="@{../assets/js/slider.js}"></script>
    <!-- masonry JavaScript -->
    <script th:src="@{../assets/js/masonry.pkgd.min.js}"></script>
    <!-- SweetAlert JavaScript -->
    <script th:src="@{../assets/js/enchanter.js}"></script>
    <!-- SweetAlert JavaScript -->
    <script th:src="@{../assets/js/sweetalert.js}"></script>
    <!-- app JavaScript -->
    <script th:src="@{../assets/js/charts/weather-chart.js}"></script>
    <script th:src="@{../assets/js/app.js}"></script>
    <script th:src="@{../vendor/vanillajs-datepicker/dist/js/datepicker.min.js}"></script>
    <script th:src="@{../assets/js/lottie.js}"></script>


<!-- offcanvas start -->

    <div
      class="offcanvas offcanvas-bottom share-offcanvas"
      tabindex="-1"
      id="share-btn"
      aria-labelledby="shareBottomLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="shareBottomLabel">Share</h5>
        <button
          type="button"
          class="btn-close text-reset"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body small">
        <div class="d-flex flex-wrap align-items-center">
          <div class="text-center me-3 mb-3">
            <img
              th:src="@{../assets/images/icon/08.png}"
              class="img-fluid rounded mb-2"
              alt=""
            />
            <h6>Facebook</h6>
          </div>
          <div class="text-center me-3 mb-3">
            <img
              th:src="@{../assets/images/icon/09.png}"
              class="img-fluid rounded mb-2"
              alt=""
            />
            <h6>Twitter</h6>
          </div>
          <div class="text-center me-3 mb-3">
            <img
              th:src="@{../assets/images/icon/10.png}"
              class="img-fluid rounded mb-2"
              alt=""
            />
            <h6>Instagram</h6>
          </div>
          <div class="text-center me-3 mb-3">
            <img
              th:src="@{../assets/images/icon/11.png}"
              class="img-fluid rounded mb-2"
              alt=""
            />
            <h6>Google Plus</h6>
          </div>
          <div class="text-center me-3 mb-3">
            <img
              th:src="@{../assets/images/icon/13.png}"
              class="img-fluid rounded mb-2"
              alt=""
            />
            <h6>In</h6>
          </div>
          <div class="text-center me-3 mb-3">
            <img
              th:src="@{../assets/images/icon/12.png}"
              class="img-fluid rounded mb-2"
              alt=""
            />
            <h6>YouTube</h6>
          </div>
        </div>
      </div>
    </div>



</body>
</html>
