<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Upload Multiple Images</title>
</head>
<body>
    <h1>Upload Excel File</h1>

    <form th:action="@{/upload}" method="post" enctype="multipart/form-data">
        <label for="file">Choose Excel file:</label>
        <input type="file" name="file" id="file" accept=".xls, .xlsx" />
        <button type="submit">Upload</button>
    </form>
</body>
</html>
