<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<meta name='viewport' content='width=device-width, initial-scale=1'>

       <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="#" th:href="@{../IVC-CRM-CSS/CRM-Customer-Detail.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <title>My Gmail pannel</title>
  </head>

  <body>
   <div class="main-area col-lg-12">
      <div class="container">
        <h2 class="mb-4 text-center">IVC-Email Marketing</h2>
        <div class="row">
          <div class="col-lg-8">
            <h3>Customer List</h3>
            <button class="btn btn-success mb-3 " id="addCustomerBtn">
              <i class="fas fa-plus"></i> Add Customer
            </button>
            <table class="table table-striped">
              <thead>
                <tr>
				  <th>Id</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Gender</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody id="customerTableBody">
                <!-- Customer rows will be added here dynamically -->
                <tr th:each="dto : ${userResponse}">
							<td th:text="${dto.id}"></td>
							<td th:text="${dto.fullName}"></td>
							<td th:text="${dto.gmail}"></td>
							<td th:text="${dto.genderUser}"></td>
				</tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
      
      
	<!--__________________________Display Form Sample __________________________-->      
	

      

    </div>
    
    <!-- JavaScript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
	<script src="#" th:src="@{../../../assets/js/IVC-CRM-JS/IVC-Email-MKT.js}"></script>
  </body>
</html>
