<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<meta name='viewport' content='width=device-width, initial-scale=1'>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="#" th:href="@{/css/toolMail.css}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

	<script src='main.js'></script>


	<title>My Gmail pannel</title>

</head>

<body>

	<!--<p><span>[[${msg}]]</span></p>-->

	<div class="jumbotron text-center">
		<div class="logo">
			<img th:src="@{../image/newstarland-logo.png}" width="35%" height="auto" />
		</div>
		<div class="title">
			<p>C402 - Nguyễn Thành Công - Chuyên viên Kinh doanh</p>
		</div>
	</div>

<!-- ////////////////////////////////////// Upload file //////////////////////////////////////////////// -->
	
	<!--Upload file UI-->
	
	<h1>Uploaded Users</h1>
	<table style="width:100%">
						<tr>
							<th>Id</th>
							<th>Tên</th>
							<th>Gmail</th>
							<th>Kết quả</th>
						</tr>
						<tr th:each="dto : ${userResponse}">
							<td th:text="${dto.id}"></td>
							<td th:text="${dto.fullName}"></td>
							<td th:text="${dto.gmail}"></td>
							<td th:text="${dto.status}"></td>
						</tr>

					</table>
    
	
	
<!-- ///////////////////////////////// End upload File //////////////////////////////////////////// -->	
   


<!--Setting mail-->
<div class="col-sm-5">
				<h3>Setting mail</h3>

				<!--Gửi đính kèm file:
					<form class="sendData" action="#" th:action="@{/sends}" enctype="multipart/form-data" method="post">-->
				<form action="#" th:action="@{/send-all}" method="post" class="sendData">
					<div class="subject">
						<span>
							<p><b>Tiêu đề</b></p>
						</span> <input th:name="subjectA" type="text" placeholder="Nhập tiêu đề trước khi gửi"
							style="height:30px; width:100%" />

					</div>
					<div><button type="submit">Gửi hàng loạt</button></div>


				</form>
				</hr>
				<br><br>
				<!---->
				<form class="sendData" action="#" th:action="@{/send-draft}" method="post">
					<p><b>Gửi bản nháp</b></p>
					<div class="subject">
						<span>
						</span> <input th:name="subjectD" type="text" placeholder="Nhập tiêu đề trước khi gửi"
							style="height:30px; width:100%" />

					</div>
					<div class="display">
						<input th:name="mailCheck" type="text" placeholder="Vd: abc@gmail.com;abcd@gmail.com;..."
							style="height:30px; width:100%" />
					</div>
					<button type="submit">Gửi nháp</button>
				</form>



			</div>
<!--End Setting mail-->

</body>

</html>